@import "reset";

.wrapper {
  width: 100%;
  // max-width: size(xl);
  min-width: 1280px;
  margin: 0 auto;
}
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1em;
  padding: 0 1em;
  border: 1px solid color(w80);
  background-color: color(white);
  margin-right: 0.25em;
  border-radius: 4px;
  transition: all 0.2s linear;

  &.btn-sm {
    font-size: 14px;
    height: 32px;
  }
  &.btn-lg {
    font-size: 15px;
    height: 40px;
    min-width: 120px;
  }
  &.btn-fill {
    background-color: color(primary);
    border: 1px solid color(primary);
    color: color(white);
    &.gra {
      background-image: linear-gradient(to right, #2878f5, #0045ff);
    }
  }
  @each $color in $colors {
    &.btn-#{$color} {
      background-color: color(#{$color});
      color: txt-color(#{$color});
      @if $color == transparency {
        background-color: transparent;
        color: color(w0);
        border: 1px solid color(w80);
      }
      &:hover {
        @if $color != transparency {
          background-color: rgba(color(#{$color}), 0.85);
        }
      }
    }
  }
}

/****************** 사용자 지정 ******************/
img.thumb {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

// flex 관련 클래스들 - mixin에서 생성되어있음
//.flex {display: flex}
//.flex--align-start {align-items: flex-start}
//.flex--align-end {align-items: flex-end}
//.flex--align-center {align-items: center}
//.flex--align-stretch {align-items: stretch}
//.flex--align-baseline {align-items: baseline}
//.flex--justify-start {justify-content: flex-start}
//.flex--justify-end {justify-content: flex-end}
//.flex--justify-center {justify-content: center}
//.flex--justify-around {justify-content: space-around}
//.flex--justify-between {justify-content: space-between}
//.flex--justify-evenly {justify-content: space-evenly}
//.flex--grow-0 {flex-grow: 0}
//.flex--grow-1 {flex-grow: 1}
//.flex--shrink-0 {flex-shrink: 0}
//.flex--shrink-1 {flex-shrink: 1}
//.flex--wrap-0 {flex-wrap: wrap}
//.flex--wrap-1 {flex-wrap: nowrap}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pointer {
  cursor: pointer;
}
/* dot */
.dot {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 2px;
  background-color: color(grey600);
  width: 2px;
  height: 2px;
  border-radius: 50%;
}
.dash {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  top: 43%;
  height: 12px;
  width: 1px;
  background-color: color(grey300);
}
// Margin
.ml-a {
  @include ml-a($t: 0.5em, $r: 0em);
}

.form-top-border {
  @include border(w90, top, 3px);
}

.small {
  font-size: 0.875em;
}

.large {
  font-size: 1.125em;
}

// ml-025 ml-05 ml-075 ml-1 ml-125 ml-15 ml-175 ml-2
@include attr-x("ml-", "margin-left", 20, 0.25, "em");
@include attr-x("mt-", "margin-top", 20, 0.25, "em");
@include attr-x("mb-", "margin-bottom", 20, 0.25, "em");
@include attr-x("mr-", "margin-right", 20, 0.25, "em");

@include attr-x("pl-", "padding-left", 20, 0.25, "em");
@include attr-x("pt-", "padding-top", 20, 0.25, "em");
@include attr-x("pb-", "padding-bottom", 20, 0.25, "em");
@include attr-x("pr-", "padding-right", 20, 0.25, "em");

@include attr-x("w-", "width", 20, 5, "%");
@include attr-x("h-", "height", 20, 5, "%");
@include attr-x("vw-", "width", 20, 5, "vw");
@include attr-x("vh-", "height", 20, 5, "vh");
@include attr-x("pw-", "height", 100, 5, "px");
@include attr-x("ph-", "height", 100, 5, "px");

@include txt-x;
@include bg-x;

.primary-btn {
  background-color: #005cfd;
  color: #fff;
  border-radius: 4px;
  &:hover {
    opacity: 0.7;
    background-color: #005cfd;
    color: #fff;
  }
}
.download-btn {
  background: #e8f3ff;
  border: 1px solid #b2cefe;
  border-radius: 4px;
  color: #005cfd;
  &:hover {
    opacity: 0.7;
    background-color: #e8f3ff;
    color: #005cfd;
  }
}

.step-status {
  display: inline-block;
  margin: 0 auto;
  padding: 8px 16px;
  height: auto;
  line-height: 1;
  background: #fafafa;
  color: #424242;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  font-size: 14px;
  letter-spacing: -0.01em;
  &.small {
    padding: 7px 8px;
  }
  &.step-1,
  &.step-2,
  &.step-4,
  &.step-5 {
    background-color: #e8f3ff;
    border: 1px solid #b2cefe;
    color: #005cfd;
  }
  &.step-3 {
    background: #ffebee;
    color: #fa3e3e;
    border: 1px solid #ffcdd2;
  }
}
