node_modules
package-lock.json
.next
.vscode
.idea
.turbo
apps/app/node_modules
apps/app/package-lock.json
apps/app/.next
apps/app/.vscode
apps/app/.idea
apps/app/.turbo
apps/admin/node_modules
apps/admin/package-lock.json
apps/admin/.next
apps/admin/.vscode
apps/admin/.idea
apps/admin/.turbo
