.textWrapperMoleStyle {
  display: flex;
  position: relative;
  gap: 10px;
  align-items: center;
}

.textInputMoleStyle {
  position: relative;
}

.iconStyle {
  display: block;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #666;
}

// inputBaseStyle 클래스는 TextInput 컴포넌트의 스타일을 재정의할 필요가 있을 때 사용
.inputBaseStyle {
  padding: 8px 12px;
}

.inputWithIcon {
  padding-left: 40px; // 아이콘이 있는 경우 패딩 조정
}
