$primary: #0265dc;
$onPrimary: #ffffff;
$secondary: #2c77fe;
$onSecondary: #ffffff;
$background: #ffffff;
$backgroundVariant1: #fafafa;
$backgroundVariant2: #f5f5f5;
$backgroundVariant3: #1a1a1a;
$onBackground: #000000;
$onBackgroundVariant: #ffffff;
$surfaceInverse: #000000;
$onSurface: #000000;
$info: #076bff;
$onInfo: #ffffff;
$success: #0b7b0b;
$onSuccess: #ffffff;
$warning: #f8c41c;
$onWarning: #000000;
$error: #cc140f;
$onError: #ffffff;

$primary15: rgba($primary, 0.15);
$primary50: rgba($primary, 0.5);
$onBackground10: rgba($onBackground, 0.1);
$onBackground20: rgba($onBackground, 0.2);
$onBackground40: rgba($onBackground, 0.4);
$onBackground60: rgba($onBackground, 0.6);
$onBackground75: rgba($onBackground, 0.75);
$onBackground85: rgba($onBackground, 0.85);
$surfaceInverse10: rgba($surfaceInverse, 0.1);
$surfaceInverse20: rgba($surfaceInverse, 0.2);
$surfaceInverse60: rgba($surfaceInverse, 0.6);
$onSurface10: rgba($onSurface, 0.1);
$onSurface20: rgba($onSurface, 0.2);
$onSurface40: rgba($onSurface, 0.4);
$onSurface60: rgba($onSurface, 0.6);
$onSurface75: rgba($onSurface, 0.75);
$onSurface85: rgba($onSurface, 0.85);
$error15: rgba($error, 0.15);
$error50: rgba($error, 0.5);

:export {
  primary: $primary;
  onPrimary: $onPrimary;
  secondary: $secondary;
  onSecondary: $onSecondary;
  background: $background;
  backgroundVariant1: $backgroundVariant1;
  backgroundVariant2: $backgroundVariant2;
  backgroundVariant3: $backgroundVariant3;
  onBackground: $onBackground;
  onBackgroundVariant: $onBackgroundVariant;
  info: $info;
  onInfo: $onInfo;
  success: $success;
  onSuccess: $onSuccess;
  warning: $warning;
  onWarning: $onWarning;
  error: $error;
  onError: $onError;
}
